<footer class="site-footer">

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col-left">
                <a class="footer-link" href="http://stephenwai.com">stephenwai.com</a>
            </div>
            <div class="footer-col-right">
                <ul class="social-media-list">
                    <li><a class="footer-link" href="mailto:{{ site.email }}" target="_blank"><i class="fa fa-inbox fa-lg"></i></a></li> 
                    <li><a class="footer-link" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li><a class="footer-link" href="https://linkedin.com/in/{{ site.linkedin_url }}" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
                    <li><a class="footer-link" href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        var heroImages = new Array();
        heroImages[0] = "background-image:url(/images/bg1.jpg)";
        heroImages[1] = "background-image:url(/images/bg2.jpg)";
        heroImages[2] = "background-image:url(/images/bg3.jpg)";
        heroImages[3] = "background-image:url(/images/bg4.jpg)";
        var heroImg = document.getElementById('herobg');
        var randomImg = Math.floor(Math.random()*heroImages.length);
        heroImg.style = heroImages[randomImg];
      </script>
</footer>
